* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}

*::before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    background-color: teal;
    color: white;
    font-family: "Lato", sans-serif;
}

h1 *, h2 *{
    vertical-align: top;
}

#main-container {
    display: flex;
}

#left-side {
    background-color: #262626;
    height: 100vh;
    /* border-radius: 0px 10px 10px 0px; */
    padding: 20px;
}

.image-container a {
    color: white;
    font-size: 19px;
}

#right-side {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#upper {
    padding-top: 20px;
    flex-basis: 60%;
}

#upper-left {
    padding: 10px;
    border-radius: 20px 20px 0px 0px;
}

#upper-left-header {
    display: flex;
    padding-left: 20px;
    gap: 50%;
    align-items: center;
}

.itemTable {
    width: 95%;
    max-height: 380px;
    overflow: auto;
    color: black;
    background-color: lightgray;
    margin: 20px;
    border-radius: 10px;
}

.itemTable > table {
    height: 100%;
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
    border-style: hidden;
}

.itemTable > table th {
    padding: 10px 20px;
    font-size: 19px;
    background-color: darkslategray;
    color: white;
}

.itemTable > table td {
    padding: 10px 20px;
}
.itemTable > table tr:nth-child(even) {
    background-color: white;
}

.itemTable > th,
td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

#search {
    position: relative;
    width: 190px;
}

#search input {
    background-color: transparent;
    border: 0;
    border-bottom: 2px white solid;
    display: block;
    width: 100%;
    padding: 15px 0;
    font-size: 18px;
    color: white;
}

#search input:focus,
#search input:valid {
    outline: 0;
    border-bottom-color: white;
}

#search label {
    position: absolute;
    top: 15px;
    left: 0;
    pointer-events: none;
}

#search label span {
    display: inline-block;
    font-size: 18px;
    min-width: 5px;
    color: white;
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

#search input:focus + label span,
#search input:valid + label span {
    color: white;
    transform: translateY(-20px);
}

#upper-right {
    color: black;
    background-color: white;
}

#lower {
    padding-bottom: 20px;
    flex-basis: 40%;
}

#lower-left {
    padding: 20px;
    border-radius: 00px 00px 20px 20px;
}
#lower-left h1 {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid white;
}

#quadrant_list {
    height: 250px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    overflow-y: auto;
}

#quadrant_list > .quadrant {
    display: inline-block;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

#lower-right {
    background-color: white;
    color: black;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#lower-right h4 {
    margin: 40px;
    font-size: 21px;
    margin-bottom: 40px;
}

.history-buttons-tab {
    padding: 5px;
    height: 40px;
    width: 95%;
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
    border: 1px solid black;
    background-color: black;
    border-radius: 50px;
}

.history-button {
    cursor: pointer;
    display: inline-block;
    text-align: center;
    line-height: 100%;
    color: white;
    border-radius: 100px;
    padding: 5px;
}

.history-button > input {
    appearance: none;
    border-radius: 50%;
}

#one {
    background-color: #ebf21b;
    color: black;
}

#two,
#three {
    color: white;
}

#upper,
#lower {
    display: flex;
    height: 50%;
    width: 90vw;
    gap: 15px;
}

#upper-left,
#lower-left {
    flex-basis: 75%;
    background-color: #262626;
}

#upper-right,
#lower-right {
    flex-basis: 25%;
    border-radius: 10px;
}

#upper-left > h1 {
    margin: 10px;
    padding: 10px;
    border-bottom: 1px solid white;
}

#mask {
    background-color: black;
    opacity: 0.4;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 90;
    display: none;
}

#update_popup, #update_quadrant_popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 500px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    z-index: 100;
    background-color: white;
    color: black;
    display: none;
}
#update_popup #container, #update_quadrant_popup #quadrant_container {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#add_product_popup, #add_quadrant_popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 800px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    z-index: 100;
    background-color: white;
    color: black;
    display: none;
}

#add_quadrant_popup, #update_quadrant_popup {
    height: 300px;
}

#add_product_popup h4,
#update_popup h4,
#update_quadrant_popup h4,
#add_quadrant_popup h2 {
    margin-bottom: 10px;
}
#add_product_popup h2,
#update_popup h2,
#update_quadrant_popup h2,
#add_quadrant_popup h2 {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}

#button_container,
#use_of_materials,
#type_of_materials {
    margin-bottom: 20px;
}
#use_of_materials,
#type_of_materials {
    display: flex;
    flex-direction: column;
}
#use_of_materials label,
#use_of_materials h4,
#type_of_materials label,
#type_of_materials h4 {
    margin-bottom: 10px;
}

#button_container {
    display: flex;
    justify-content: space-evenly;
}
#button_container button#automatic_add {
    padding: 10px 20px;
    background-color: black;
    color: white;
    width: 40%;
    cursor: pointer;
    border-radius: 5px;
}
#button_container button#manual_add {
    width: 40%;
    padding: 10px 20px;
    background-color: white;
    cursor: pointer;
    color: black;
    border-radius: 5px;
}

#product_name,
#product_quantity,
#description,
#update_product_name,
#update_product_quantity,
#update_description,
#update_quadrant_name,
#update_quadrant_total_space,
#quadrant_name,
#quadrant_total_space {
    margin-bottom: 10px;
}
#product_name input,
#product_quantity input,
#description input,
#update_product_name input,
#update_product_quantity input,
#update_quadrant_name input,
#update_quadrant_total_space input,
#quadrant_name input,
#quadrant_total_space input {
    padding: 5px 10px;
    width: 50%;
    margin-bottom: 10px;
}

#add_product_popup #container, #add_quadrant_popup #quadrant_container {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.close_button {
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
    width: 20px;
    height: 20px;
    font-size: 16px;
}

#add_product_popup #quadrants {
    height: 200px;
    overflow-y: auto;
    display: none;
}

#add_product_popup #quadrants h4{
    background-color: white;
    position: sticky;
    top: 0;
}

#quadrants > label {
    display: block;
    margin-bottom: 10px;
}

#add_button_submit,
#update_button_submit,
#update_quadrant_button_submit,
#add_quadrant_button_submit {
    width: max-content;
    background-color: darkcyan;
    color: white;
    font-weight: 700;
    text-align: center;
    padding: 10px 20px;
    margin: auto;
    cursor: pointer;
    display: block;
}

#add_product, #add_quadrant, #deselect_button, #select_all_button {
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: 700;
    background-color: skyblue;
    color: black;
    margin-left: 20px;
}

#add_product:hover, #add_quadrant:hover, #deselect_button:hover, #select_all_button:hover{
    cursor: pointer;
    opacity: 0.5;
}

#deselect_button {
    background-color: darkred;
    color: white;
}

.update_product,
.remove_product {
    text-align: center;
    width: 10%;
    cursor: pointer;
}

.delete{
    background-color: darkred;
    color: white;
}

.update{
    background-color: skyblue;
}

.quadrant_button{
    border-radius: 10px;
    margin-top: 15px;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    border: none;
    margin-right: 20px;
}

#quadrant_id {
    padding: 5px 10px;
    width: 50%;
}

#chart_container {
    width: 80%;
    display: block;
    margin: auto;
}

#quadrant_usage h4 {
    font-size: 26px;
    text-align: center;
    margin: 20px;
    margin-bottom: 40px;
}

#tmp {
    font-size: 19px;
}
#tmp li {
    margin-bottom: 10px;
}

.quadrant_checkbox {
    display: none;
}
#quadrant_list .quadrant {
    width: 250px;
    height: 125px;
}

#description, #update_description {
    padding: 5px;
    resize: none;
    width: 100%;
    height: 100px;
}

#description {
    height: 50px;
    margin-bottom: 0;
}