* {
  /* outline: 1px solid red; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body > .container {
  display: flex;
  font-family: "Lato", sans-serif;
}

h2 *{
  vertical-align: middle;
}

h2 select{
  background-color: darkslategray;
  color: white;
  padding: 10px;
  border: none;
}

nav {
  background-color:  #262626;
  height: 100vh;
  padding: 20px;
  width: max-content;
  display: flex;
  flex-direction: column;
}

  nav *{
    user-select: none;
  }

  nav .image_container .selected{
    font-weight: bolder;
    color: skyblue; 
    cursor:default; 
    pointer-events: none; 
    user-select: none;
  }

  nav .image-container .selected p{
    font-size: 1.4rem;
  }

  nav .image_container a {
    color: white;
    font-size: 19px;
  }
#main {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: teal;
}
  #main > .container {
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 95%;
  }
    #main > .container > .top {
      width: 20%;
      height: 8%;
      padding: 15px;
      border: 1px solid black;
      border-radius: 10px;
      background-color: #262626;
      text-align: center;
    }
      #addButton {
        font-weight: bold;
        background-color: skyblue;
        border: 1px solid skyblue;
        border-radius: 10px;
        padding: 10px;
      }
      #addButton:hover {
          cursor: pointer;
          opacity: 0.5;
      }
    #main > .container .bottom {
      height: 100%;
      border: 1px solid black;
      border-radius: 10px;
      padding: 20px;
      background-color: #262626;
      overflow-y: scroll;
    }
      #main > .container .bottom > h2 {
        color: white;
        margin-bottom: 10px;
        display: inline-block;
      }
      #main > .container .bottom > table {
        max-height: 10%;
        /* display: block; */
        width: 100%;
        border-collapse: collapse;
        border-radius: 10px;
        border-style: hidden;
        background-color: lightgray;
      }
        #main > .container .bottom > table th {
          padding: 10px 20px;
          font-size: 19px;
          background-color: darkslategray;
          color: white;
          width: auto;
        }
        #main > .container .bottom > table .view_product {
          text-align: center;
          width: 20px;
          cursor: pointer;
        }
        #main > .container .bottom > table td {
          padding: 10px 20px;
        }
        #main > .container .bottom > table tr:nth-child(even) {
          background-color: white;
        }
        #main > .container .bottom > th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }

        img{
          width: 100px;
        }
      
        
      #search {
        position: relative;
        width: 190px;
        margin: 1% 2% 2% 2%;
        display: inline-block;
      }
      
      #search input {
        background-color: transparent;
        border: 0;
        border-bottom: 2px white solid;
        display: block;
        width: 100%;
        padding: 15px 0;
        font-size: 18px;
        color: white;
      }
      
      #search input:focus,
      #search input:valid {
        outline: 0;
        border-bottom-color: white;
      }
      
      #search label {
        position: absolute;
        top: 15px;
        left: 0;
        pointer-events: none;
      }
      
      #search label span {
        display: inline-block;
        font-size: 18px;
        min-width: 5px;
        color: white;
        transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      }
      
      #search input:focus + label span,
      #search input:valid + label span {
        color: white;
        transform: translateY(-20px);
      }





.mask {
  background-color: black;
  opacity: 0.4;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 90;
  display: none;
}

#closeButton{
  position: relative;
  left: 95%;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}