<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login!</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/scripts/login.js"></script>
    <link rel="stylesheet" href="stylesheets/login.css">
    <link rel="icon" href="/img/Warehome.png" type="image/icon type">
</head>
<body>
    <div class="login-container">
        <img src="/img/Warehome.png" alt="Image of Warehome">
        <form id="loginForm">
            <h1>LOGIN</h1>
            <label>
                <h2>Username</h2>
                <input type="text" placeholder="Enter Username" name="username" required> 
            </label>
            <label>
                <h2>Password</h2>
                <input type="password" placeholder="Enter Password" name="password" required> 
            </label>
            <input type="submit" id="submitButton" value="Login">
        </form>
    </div>
</body>
</html>