<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Users</title>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <link rel="stylesheet" href="stylesheets/users.css">
  <link rel="icon" href="/img/Warehome.png" type="image/icon type">
</head>
<body>
  <div class="container">
    <nav>
      <div class="image-container">
        <a href="/dashboard">
          <img src="/img/Warehome.png" alt="" />
        </a>
      </div>
      <div class="image_container">
        <a href="/dashboard">
          <img src="" alt="" />
          <p>Dashboard</p>
        </a>
      </div>
      <div class="image_container">
        <a href="/view">
          <img src="" alt="" />
          <p>View</p>
        </a>
      </div>
      <div class="image_container">
        <a href="/logs">
          <img src="" alt="" />
          <p>Logs</p>
        </a>
      </div>
      <div class="image_container">
        <a href="/users" class="selected">
          <img src="" alt="" />
          <p>Users</p>
        </a>
      </div>
      <div class="image_container">
        <a href="/profile">
          <img src="" alt="" />
          <input type="hidden" id="user_level" value = <%= user.level %> >
          <p>Profile</p>
        </a>
      </div>
      <div class="image_container">
        <a href="/logout" style="color: red;">
          <img src="" alt="" />
          <p>Logout</p>
        </a>
      </div>
    </nav>
    <div id="main">
      <div class="container">
        <div class="bottom">
            <h2>Users <% if(user.level == 1) { %><button id="addButton" >Add User</button> <% } %> </h2>
            <div id="search">
              <input type="value" required="" value="" />
              <label>
                <span style="transition-delay: 0ms">S</span>
                <span style="transition-delay: 50ms">e</span>
                <span style="transition-delay: 100ms">a</span>
                <span style="transition-delay: 150ms">r</span>
                <span style="transition-delay: 200ms">c</span>
                <span style="transition-delay: 250ms">h</span>
                <span style="transition-delay: 250ms"></span>
                <span style="transition-delay: 300ms">U</span>
                <span style="transition-delay: 350ms">s</span>
                <span style="transition-delay: 400ms">e</span>
                <span style="transition-delay: 450ms">r</span>
                <span style="transition-delay: 500ms">n</span>
                <span style="transition-delay: 550ms">a</span>
                <span style="transition-delay: 600ms">m</span>
                <span style="transition-delay: 650ms">e</span>
              </label>
            </div>  
            <table>
              <thead>
                <th>User ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Username</th>
                <th>Level</th>
                <th>Date Created</th>
                <th>Date Updated</th>
                <% if(user.level == 1) {%>
                <th>View</th>
                <th>Remove</th>
                <th>RESET PASSWORD</th>
                <% } %>
              </thead>
              <tbody></tbody>
            </table>
        </div>
      </div>
  </div>
  <div class="edit-container">
    <form id="editForm">
        <button class="closeButton">X</button>
        <h1>Edit</h1>
        <label>
            <h2>First Name</h2>
            <input type="hidden" name="user_id">
            <input type="text" placeholder="Enter First Name" name="first_name" required> 
        </label>
        <label>
            <h2>Last Name</h2>
            <input type="text" placeholder="Enter Last Name" name="last_name" required> 
        </label>
        <label>
            <h2>Username</h2>
            <input type="text" placeholder="Enter Username" name="username" required> 
        </label>
        <label>
            <h2 id="levelHeader">Level</h2>
            <select name="level">
              <option value="2">User</option>
              <option value="3">Moderator</option>
            </select>
        </label>
        <input type="submit" id="submitEditButton" value="Edit">
    </form>
  </div>
  <div class="add-container">
    <form id="addForm">
        <button class="closeButton">X</button>
        <h1>Add</h1>
        <label>
            <h2>First Name</h2>
            <input type="text" placeholder="Enter First Name" name="first_name" required> 
        </label>
        <label>
            <h2>Last Name</h2>
            <input type="text" placeholder="Enter Last Name" name="last_name" required> 
        </label>
        <label>
            <h2>Username</h2>
            <input type="text" placeholder="Enter Username" name="username" required> 
        </label>
        <label>
          <h2>Level</h2>
          <select name="level">
            <option value="2">User</option>
            <option value="3">Moderator</option>
          </select>
        </label>
        <input type="submit" id="submitAddButton" value="Add">
    </form>
  </div>
  <div class="mask"></div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="/scripts/users.js"></script> 
</body>
</html>